___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# Text Classification Assessment
This assessment is very much like the Text Classification Project we just completed, and the dataset is very similar.

The **moviereviews2.tsv** dataset contains the text of 6000 movie reviews. 3000 are positive, 3000 are negative, and the text has been preprocessed as a tab-delimited file. As before, labels are given as `pos` and `neg`.

We've included 20 reviews that contain either `NaN` data, or have strings made up of whitespace.

For more information on this dataset visit http://ai.stanford.edu/~amaas/data/sentiment/

### Task #1: Perform imports and load the dataset into a pandas DataFrame
For this exercise you can load the dataset from `'../TextFiles/moviereviews2.tsv'`.

In [2]:
import numpy as np
import pandas as pd

df=pd.read_csv("../TextFiles/moviereviews2.tsv",sep='\t')

### Task #2: Check for missing values:

In [3]:
# Check for NaN values:
df.isnull().sum()

label      0
review    20
dtype: int64

In [4]:
df.head(1)

  label                                             review
0   pos  I loved this movie and will watch it again. Or...

In [18]:
blank=[]

In [19]:
# Check for whitespace strings (it's OK if there aren't any!):

for index,label,review in df.itertuples():
    if type(review)==str:
        if review.isspace():
            blank.append(index)
print(len(blank))

0

### Task #3: Remove NaN values:

In [20]:
df.dropna(inplace=True)

In [38]:
df['label'].value_counts()

pos    2990
neg    2990
Name: label, dtype: int64

### Task #4: Take a quick look at the `label` column:

In [21]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [25]:
df.head(1)

  label                                             review
0   pos  I loved this movie and will watch it again. Or...

### Task #5: Split the data into train & test sets:
You may use whatever settings you like. To compare your results to the solution notebook, use `test_size=0.33, random_state=42`

In [26]:
from sklearn.model_selection import train_test_split
X=df['review']
y=df['label']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=42)

### Task #6: Build a pipeline to vectorize the date, then train and fit a model
You may use whatever model you like. To compare your results to the solution notebook, use `LinearSVC`.

In [28]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

tf_idf=Pipeline([('tfidf',TfidfVectorizer()),('lsvc',LinearSVC())])
tf_idf.fit(X_train,y_train)

### Task #7: Run predictions and analyze the results

In [33]:
# Form a prediction set
predictions=tf_idf.predict(X_test)

In [34]:
# Report the confusion matrix

from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
print(confusion_matrix(y_test,predictions))

[[900  91]
 [ 63 920]]

In [35]:
# Print a classification report
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

         neg       0.93      0.91      0.92       991
         pos       0.91      0.94      0.92       983

   micro avg       0.92      0.92      0.92      1974
   macro avg       0.92      0.92      0.92      1974
weighted avg       0.92      0.92      0.92      1974

In [36]:
# Print the overall accuracy
print(accuracy_score(y_test,predictions))

0.9219858156028369

## Great job!